/* Your app's CSS, go crazy, make it your own */

.scroll-content{
background:url("../img/1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
