<ion-view view-title="What's Trending">
      <ion-content class="padding" ng-controller="ButtonsTabCtrl">
			  <!-- popover start -->
	  <div class="slide_container">       
        <nav id="searchMenu">
		<div class="row navRb">	
		<a ng-href ="#" class="button button-small button-outline button-energized navBtn" !liked">What's Trending</a>
		<a ng-href ="#menu/tab/buttons1" class="button button-small button-positive navBtn" ng-click="openDrawer(); !liked">What's New</a>
<!-- 		<a href ="#" class="button button-small  button-positive navBtn" ng-click="reverse=!reverse;order('program',reverse); openDrawer()">Sort by Topic</a> -->
		<a href ="#" class="button button-small  button-positive navBtn" ng-click="reverse=!reverse;order('order',reverse); openDrawer()">Sort by Category</a>
                <select id="pSelector" class="ion-input-select" ng-model="sProg">
				  <option selected="selected" value="">All</option>
				  <option value="CIO Leadership Council">IT</option>
				  <option value="Legal Leadership Council">Legal</option>
				  <option value="Recruiting Leadership Council">HR</option>
				</select>
		</div>
        </nav>
        <div id="searchBtn">&nbsp;&nbsp;&nbsp;
			<i id="like" ng-class="{'icon ion-arrow-up-b srch': liked, 'icon ion-arrow-down-b srch': !liked}" ng-click="liked=!liked; openDrawer()"></i>
		</div>
    </div>
	
		<div class="Card" >
          <div class="row item item-divider card-bk2 ">
			<div class="col col-25"><img class="logo title" src="img/logo-white-sm.png" /></div>
            <div class="col">What's Trending</div>
          </div>  
		  
		<ion-item ng-repeat="item in feed | orderBy:predicate | filter:sProg" class="item item-icon-right" href={{item.path}}>
		
			<strong>{{item.title}}</strong> - {{ item.synopsis}} <i class={{item.icon}}></i>
		</ion-item> 
          </a>

        </div>         
		<div class="card" ng-controller="tickerCtrl">
		<marquee>
			<span ng-repeat="item in iTicker">
				<i class="icon ion-ios-pulse-strong"></i> <strong>{{item.prog}}</strong>{{item.newsFeed}} 
			</span>
		</marquee>
		</div>
		<div id="overlay">
			 <div>
				  <p>Content you want the user to see goes here.</p>
			 </div>
		</div>
		
		
	  </ion-content>
    </ion-view>