<ion-view title="Contact your Account Manager">
	<ion-content class="padding" overflow-scroll="true">
		<div class="card">
			<label class="item item-input">
			  <span class="input-label"><strong>Name</strong></span>
			  <input type="text" ng-model="userName">
			</label>
			<label class="item item-input">
			  <span class="input-label"><strong>Email</strong></span>
			  <input type="email" ng-model="userEmail">
			</label>
			<label class="item item-input">
			  <span class="input-label"><strong>Telephone</strong></span>
			  <input type="tel" ng-model="userPhone">
			</label>
			<label class="item item-input">
			  <span class="input-label"><strong>Date</strong></span>
			  <input type="date">
			</label>
			<label class="item item-input">
			  <span class="input-label"><strong>Leave us a message</strong></span>
			  <input type="textarea">
			</label>
			<button class="button button-full button-balanced">Contact</button>
		</div>

	</ion-content>
</ion-view>