    <ion-view title="">
      <ion-content class="padding">
		<div class="card">
        <h1 class="item item-text-wrap">Strategy Execution Dashboard <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></h1>

			<p class="item item-text-wrap">CIOs spend almost two months a year developing and rolling out the IT strategy, but a third of an IT strategy’s value is lost during execution. What’s hard is knowing where the IT strategy will face roadblocks before it is too late.<br></br>Our new Strategy Execution Dashboard will help you identify which of your organization’s IT strategic priorities face high execution risk—and why. This service, which is included in your CEB CIO membership, is <strong>customized to your organization’s strategy</strong> and populated with a comprehensive, peer-tested framework of leading indicators of IT strategy execution gaps.</p>
			<h1 class="item item-text-wrap">What It Is</h1>
			<p class="item item-text-wrap">The Strategy Execution Dashboard (SED) is a light-weight diagnostic tool for organizations to identify which of their top priorities are at risk of execution failure—and why. It provides an early identification of which problems may arise and where in the organization execution is stalling.</p>

				<a class="item" href="#/menu/tab/img3">
			<img class="img1" src="img/1437751608165.png"></img></a>

			<h1 class="item item-text-wrap">Why This Matters</h1>
			<p class="item item-text-wrap">CIOs spend almost two months a year developing and rolling out the IT strategy. However, they don’t have many ways to know how well their teams understand the strategy, how well the function is executing against the strategy or what roadblocks may have arisen. In other words, it’s hard to get visibility into the range barriers to turning the strategy into reality. The cost of this lack of visibility is high. CEB research shows that a third of a strategy’s value is lost during execution.</p>
			<p class="item item-text-wrap"><strong>The Strategy Execution Dashboard</strong> helps you spot the organization’s top IT strategic priorities that face execution risks. After you identify areas where execution failure is most likely to occur, you’ll be able to use the Strategy Execution Dashboard to help you mitigate specific execution barriers.</p>
			</div>

      </ion-content>
    </ion-view>