<ion-view title="My Feed">
	<ion-content class="padding">
				<div class="card">
        <h1><p class="item item-text-wrap">The Role of the Head of IT Finance</p></h1><h2><p class="item item-text-wrap">Summary of Findings</p></h2>
		<hr></hr>
			<div class="row">
				<div class="col">
					<ol>
						<li>Profiled organizations created head of IT finance roles to increase cooperation between IT and Finance, give IT leaders more time for high-value tasks, and keep IT on budget.</li>
						<li>Among the profiled organizations, three structure the head of IT finance role so that he or she reports to the CFO or other leaders in Finance, while the other two heads of IT Finance report to IT department heads.</li>
						<li >According to the interviewed executives, heads of IT Finance need strong finance and analytics skills, the ability to communicate with disparate audiences, and negotiation skills. Two profiled organizations look for heads of IT Finance who have experience in and knowledge of IT, while three do not view this as a prerequisite for the role.</li>
						<li >All profiled organizations’ heads of IT Finance are involved in the budgeting process for IT (some own the process while others are stakeholders) and deliver financial reporting to Finance. At some organizations, the heads of IT Finance are also responsible for approving IT purchases, vendor management, and driving savings initiatives.</li>
					</ol><br>
					<p>If a head of IT Finance is unfamiliar with the IT terrain, language, and basic concepts, it may be difficult for him or her to communicate with partners in IT and understand important items within the IT budget. Therefore, IT Finance requires to have at least a basic level of IT knowledge.</p>
					<p>Leaders in IT and Finance often have different goals and speak “different languages,” which can lead to unsuccessful or even antagonistic partnerships.</p>
					<p>Because most profiled heads of IT Finance focus on managing budgets, delivering financial reporting, and other finance-centric duties, three profiled organizations prioritize finance skills over IT knowledge.</p>
					<p>By improving relationships with vendors and forming more strategic partnerships, the head of IT Finance can reduce vendor costs and deliver savings to the business.</p>
				</div>
				
			</div>
</p></div>

	</ion-content>
</ion-view>