<ion-view title="My Feed">
	<ion-content class="padding" overflow-scroll="true">
				<div class="card">
	        <h1><p class="item item-text-wrap">How CEB helps EMEA Executives <i ng-class="{true: 'icon ion-thumbsup favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p></h1>
		<hr></hr>
						<strong> Claudine McMahon (Head of Organizational Effectiveness and Talent at AIB</strong>

				<div class="row videowrapper">
						<iframe src="https://www.youtube.com/embed/qLSg-DOGBv0" allowfullscreen></iframe>
				</div><hr></hr>
				<p class="item item-text-wrap">At the recent Talent Management Leaders Network, Claudine McMahon (Head of Organizational Effectiveness and Talent at AIB) shares how she gets value from her CEB membership. </p>
				</div>


</div>

	</ion-content>
</ion-view>