<ion-view title="My Feed">
	<ion-content class="padding">
		<div class="card">
			<h1><p class="item item-text-wrap">Digital Marketing Capabilities Roadmaps, 2013-2016<i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
			<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p></h1>
			<p class="item item-text-wrap"><strong>Use the roadmap to:</strong><br></br>
			Compare investment plans across digital marketing domains for B2C and B2B organizations. Avoid succumbing to vendor hype by calibrating your assumptions and value analysis against peers. Reduce risk by identifying factors that can endanger successful implementation or diminish benefits realization	</p>
			<a href="#/menu/tab/feed1extn">
			<img class="img1" src="img/B2B.gif"></img>
			<br></br></a>

		</div>
	</ion-content>
</ion-view>