<ion-view title="My Feed">
	<ion-content class="padding">
				<div class="card">
        <h1><p class="item item-text-wrap">What is Adaptive IT?</p></h1>
		<hr></hr>
			<div class="row">
				
					<p class="item item-text-wrap">Many of today’s IT organizations are built for efficiency and standardization, presenting a significant challenge to responding to rapidly changing, unpredictable business demand. Current approaches to addressing the challenges posed by today’s business environment rely on new organizational structures, such as Two-Speed IT and dedicated innovation teams, which don’t fully solve the problem.<br></br>To succeed in an era when change is constant and the impact of technology ubiquitous, IT leaders must adopt a set of management principles that allow IT to help the enterprise maximize returns from technology investments in any environment, not just the environment for which the IT organization was designed.<br><br>
					<strong>Introducing Adaptive IT</strong><br><br>
					An adaptive IT organization is capable of continuous change and can thrive in any environment, not just the environment for which it was designed. Rather than relying on dedicated teams, structures, or processes, an adaptive IT organization makes all resources (people, money, technology) and processes as fungible as possible. Adaptive IT differs from other approaches today by not stipulating a specific end state but allowing organizations to thrive in any environment.</p>
			</div>
			<div class="row">
					<a href="#/menu/tab/feed1extn">
					<img class="img1" src="img/AdaptiveIT.png"></img>
					<br></br></a>
	
			</div>
</div>

	</ion-content>
</ion-view>