<ion-view title="My Feed">
	<ion-content class="padding">
		<div class="card">
				<h1 class="item item-text-wrap">Reorient your executive recruiting strategy from search savings to quality gains. <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-ios-email favMeNo', false: 'icon ion-ios-email favMeYes'}[!email]" ng-click="email = !email" href="#"></i>
				</h1>
				<strong class="item item-text-wrap">Executive Recruiting</strong>
					<p class="item item-text-wrap">Organizations expect their executives to outperform in a more interconnected, dynamic work environment. However, more executive hires are failing than outperforming.<br></br>Most organizations, seeking to minimize the cost of failure, are bringing executive search capabilities in-house. Although more than 75% of in-house teams have succeeded in reducing the cost of executive search, less than one-third have seen meaningful improvements in quality of hire.<br></br>To improve quality of hire at the executive level, use a more holistic strategy than simply moving executive recruiting in-house. Design your executive hiring processes and search firm partnerships to hire for network fit - fitting with the way colleagues work. Further, those with in-house models focus on enabling executive recruiters to exercise their Talent Advisor capabilities.
					</p>
					<a href="#/menu/tab/feed6img1">
					<img class="img1" src="img/feed6img1.png"></img></a>

				<strong class="item item-text-wrap">Design the Executive Hiring Process</strong>
					<p class="item item-text-wrap">Fit is extremely important when it comes to executive hires, and network fit is more important than culture fit. Executives with network fit complement their teams in key areas, making them better able to avoid “organ rejection” and lead their teams through change. Adjust each of your executive hiring process steps to evaluate candidates for network fit.<br></br>
					</p>
				<strong class="item item-text-wrap">We can help you:</strong>
					<ol class="item item-text-wrap">
						<li>Learn more about network fit</li>
						<li>Define and assess for fit for executive positions</li>
						<li>Identify what executive candidates value most when considering a job switch</li>
						<li>Create a long-term pipeline of internal candidates for executive roles</li>
						<li>Acclimate executive hires to their teams</li>
						<li>Help your recruiters execute the recruiting process</li>
						<li>Learn strategies to recruit for executive gender diversity</li>
					</ol>
					<a href="#/menu/tab/feed6img2">
					<img class="img1" src="img/feed6img2.png"></img></a>
					<strong class="item item-text-wrap">Partner with Search Firms</strong>
					<p class="item item-text-wrap">Recruiters need to be an integral party in a search firm relationship, but they should not be the gatekeeper between search firms and hiring managers. The best partnerships are collaborative, where recruiters are Talent Advisors, search firms are consultative experts, and hiring managers are collaborative clients.<br></br>
					</p>
					<strong class="item item-text-wrap">We can help you:</strong>
					<ol class="item item-text-wrap">
						<li>Transition your search firm partnerships from transactional to collaborative</li>
						<li>Use criteria to prioritize when to use search firms</li>
						<li>Involve internal stakeholders in building a preferred supplier list</li>
						<li>Teach search firms to convey your employment brand to potential candidates</li>
						<li>Get advice from your peers on how to work with search firms</li>
					</ol>
					<a href="#/menu/tab/feed6img3">
					<img class="img1" src="img/feed6img3.png"></img></a>
				</div>	
			


	</ion-content>
</ion-view>