<ion-view title="My Feed">
	<ion-content class="padding">
				<div class="card">
        <h1><p class="item item-text-wrap">Accelerating IT's Clock Speed <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p></h1>

			<div class="row">
				<div class="col">
					<p class="item item-text-wrap">IT leaders typically equate speed with Agile development methodologies. But, while Agile is necessary, it's insufficient to truly improve IT's overall "clock speed"—the pace at which IT operates when responding to business partners' changing needs. There are many other areas of friction—both upstream and downstream of the development process—that slow down IT's overall speed and responsiveness.<br></br>Accelerating IT's Clock Speed will help you speed up IT's ability to understand technology demand, make decisions about technology priorities and resource allocation, and deliver the new capabilities required by business leaders. The whitepaper is divided into two sections that help IT leaders from all parts of the organization identify and remove obstacles to IT clock speed:<br><br>
					Section 1: Principles for Faster IT—18 management principles that can be applied across corporate IT to help the function move quickly.<br><br>
					Section 2: Tactics for IT Functional Leaders—Immediately applicable approaches that each sub-function within corporate IT can use to accelerate both their own (and their colleagues') ability to deliver capabilities to the rest of the business.<br><br>
					This work is part of CEB's research into Adaptive IT—helping IT leaders make their organizations and teams more responsive to the needs of business partners in the increasingly varied technology environment.<br><br>
					<strong>Tactics for IT Functional Leaders - </strong>The tactics outlined in this section of the study are practices previously profiled in CEB research for each of IT's main functional teams (Applications, Infrastructure, Enterprise Architecture, PMO, Information Risk, and Business Relationship Management). These tried and tested tactics will give IT leadership teams practical, immediately applicable approaches for accelerating some of the key activities their functions are responsible for.<br><br>
					<strong>Principles for Accelerating Corporate IT's Clock Speed - </strong>Principles for Accelerating Corporate IT's Clock Speed are statements of "the way things should be" in an organization with a fast clock speed, and IT leaders can test how parts of their organization really behave compared to the ideal situation set out in each principle. These principles will give IT leadership teams a set of ideas for how to increase the pace of IT's operations at a high level.<br><br>

					<strong>Equipping Business Partners to Drive IT Architecture - </strong>Effectively defining business demand requires business liaisons to bridge the gap between IT’s architecture group and business leaders, a process that is often slow and complicated. KBC simplified this process by teaching business partners basic business architecture skills to help them more clearly define their own demand. KBC used a gradual, step-by-step process to enable business partners to prioritize demands based on the business capabilities they support. As a result, business partners were able to define and prioritize their own portfolio needs, greatly accelerating this process.</p>
				 </div>
			<!--	<div class="col">
					<a href="#/menu/tab/feed4extn">
					<img class="img1" src="img/bpmm.png"></img></a>
					<br></br>
				</div>	-->
			</div>
</div>

	</ion-content>
</ion-view>