<ion-view title="My Feed">
	<ion-content class="padding" overflow-scroll="true">
				<div class="card">
        <h1><p class="item item-text-wrap">Peer Videos: What Is the Biggest Challenge Facing HRBPs?</p></h1>
		<hr></hr>

				<div class="row">
					<div class="col col-30">
						<iframe src="//cdn.sublimevideo.net/e/gg7odx5u/exbd-hr-BusinessPartners-AlAli-EmiratesGroup.html" width="400" height="180" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
					</div>
					<div class="col">
						<strong>Abdulaziz Al Ali</strong><br>Emirates Group
					</div>
				</div>
				<!-- <div class="row">
					<div class="col col-30">
						<iframe src="//cdn.sublimevideo.net/e/gg7odx5u/exbd-hr-BusinessPartners-Schroeppel-NorthWesternEnergy.html" width="400" height="180" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
					</div>
					<div class="col">
						<strong>Bobbi Schroeppel</strong><br>NorthWestern Energy
					</div>
				</div>
				<div class="row">
					<div class="col col-30">
						<iframe src="//cdn.sublimevideo.net/e/gg7odx5u/exbd-hr-BusinessPartners-JoycePhillips-CushmanWakefield.html" width="400" height="180" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
					</div>
					<div class="col">
						<strong>Joyce Phillips</strong><br>Cushman & Wakefield
					</div>
				</div>
				<div class="row">
					<div class="col col-30">
						<iframe src="//cdn.sublimevideo.net/e/gg7odx5u/exbd-hr-BusinessPartners-DeanCarter-SearsHoldings.html" width="400" height="180" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
					</div>
					<div class="col">
						<strong>Dean Carter</strong><br>Sears Holdings
					</div>
				</div> -->
				</div>
				

</div>

	</ion-content>
</ion-view>