<ion-view title="My Feed">
	<ion-content class="padding" overflow-scroll="true">
				<div class="card">
        <h1><p class="item item-text-wrap">The Four Paradoxes Facing Today’s Workforce <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p></h1>
		<hr></hr>
				<div class="row">
					<p class="item item-text-wrap">
					You need employees who excel at more than their individual tasks. You need enterprise contributors—employees who work with and through others, contributing and consuming ideas and input to improve their own performance and that of their peers. Transforming your employees into a workforce of enterprise contributors can boost year-over-year revenue growth by 11% and profit growth by 5%.</p>
				</div>

				<div class="row">
					<div class="col col-50">
					<a href="#/menu/tab/feed7extn1"><img class="img1" src="img/pm1.png"></img></a>
					</div>
					<div class="col col-50">
					<a href="#/menu/tab/feed7extn2"><img class="img1" src="img/pm2.png"></img></a>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
					<a href="#/menu/tab/feed7extn3"><img class="img1" src="img/pm3.png"></img></a>
					</div>
					<div class="col col-50">
					<a href="#/menu/tab/feed7extn4"><img class="img1" src="img/pm4.png"></img></a>
					</div>
				</div>
				<br><br>
</div>

	</ion-content>
</ion-view>