<ion-view title="My Feed">
	<ion-content class="padding" overflow-scroll="true">
				<div class="card">
        <h1><p class="item item-text-wrap">Digital Evolution in B2B Marketing <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p></h1>
		<hr></hr>
			<h1><p class="item item-text-wrap">Did you know</p></h1>
					<p class="item item-text-wrap">
					<strong>57%</strong> — that’s how far the average B2B buyer is through the purchase decision before engaging a supplier sales rep.<br></br></p>
					<p class="item item-text-wrap">
					<strong>12%</strong> — that’s how much of your customer's total mindshare you as a supplier have across the entire B2B purchase path.<br></br></p>

				<div class="row videowrapper">
				<iframe src="https://www.youtube.com/embed/PYJS92m4mok" autoplay='false' allowfullscreen></iframe>
				</div>
</div>

	</ion-content>
</ion-view>