<ion-view title="My Feed">
	<ion-content class="padding" overflow-scroll="true">
				<div class="card">
        <h1><p class="item item-text-wrap">Legal, Risk & Compliance</p></h1>
		<hr></hr>

				<div class="row">
					<p class="item item-text-wrap">
					Given the changing impact of information, traditional monitoring processes and technology advancements alone no longer deliver effective identification, management, and prevention of business risks. This change demands the need for early detection and rootcause analysis.<br></br></p>
				</div>
				<div class="row videowrapper">
				<iframe src="//cdn.sublimevideo.net/e/gg7odx5u/exbd-global-top-insights-Legal-Risk-Compliance.html" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
				</div><br><br>

</div>

	</ion-content>
</ion-view>