<ion-view title="My Feed">
	<ion-content class="padding">
		<div class="card">
        <h1><p class="item item-text-wrap">WHAT SHOULD LEGAL DEPARTMENTS KNOW TO BETTER MANAGER THEIR NON-LAWYER PROFESSIONALS?</p></h1>
			<div class="row">
				<div class="col col-33">
				<strong>Current State of In-House Legal Department Non- Lawyer Employee Engagement</strong>
					<p class="item item-text-wrap">In-House Legal Department non-lawyer professionals are mixed on both aspects of engagement.<br></br>
					</p>
					<a href="#/menu/tab/feed5img1">
					<img class="img1" src="img/feed5img1.png"></img></a>
				</div>
				<div class="col col-33">
				<strong>In-House Legal Department Non-Lawyer Professionals Satisfaction with the Employment Value Proposition</strong>
					<p class="item item-text-wrap">The 38 attributes of the employment value proposition fall into five categories. In-House Legal Department non-lawyer professionals are least likely to be satisfied with the Opportunity category.<br></br>
					</p>
					<a href="#/menu/tab/feed5img2">
					<img class="img1" src="img/feed5img2.png"></img></a>
				</div>
				<div class="col">
					<strong>Impact of EVP Satisfaction on Employee Engagement</strong>
					<p class="item item-text-wrap">In-house legal department non-lawyer professionals who are satisfied with their EVP are more likely to report high discretionary effort and intent to stay.<br></br>
					</p>
					<a href="#/menu/tab/feed5img3">
					<img class="img1" src="img/feed5img3.png"></img></a>
				</div>	
			</div>
		</div>

	</ion-content>
</ion-view>