<ion-view title="My Feed">
	<ion-content class="padding" overflow-scroll="true">
				<div class="card">
        <h1><p class="item item-text-wrap">Legal, Risk & Compliance <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p></h1>
		<hr></hr>

				<div class="row">
					<p class="item item-text-wrap">
					Given the changing impact of information, traditional monitoring processes and technology advancements alone no longer deliver effective identification, management, and prevention of business risks. This change demands the need for early detection and rootcause analysis.<br></br></p>
				</div>
				<div class="row videowrapper">
				<iframe src="https://www.youtube.com/embed/1EAOqsfO8KA" autoplay='false' allowfullscreen></iframe>
				</div><br><br>

</div>

	</ion-content>
</ion-view>