<ion-view title="My Feed">
	<ion-content class="padding" overflow-scroll="true">
				<div class="card">
        <h1><p class="item item-text-wrap">Success in the New Work Environment requires Enterprise Contributors <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p>

		</h1>
		<hr></hr>

				<div class="row">
					<p class="item item-text-wrap">
					And most employees are willing to perform collaboratively as Enterprise Contributors, meaning investing in incentives or other means of motivation is a wasted effort.<br></br>So why do so few employees qualify as Enterprise Contributors? Three in four say the organization needs to make it easier for them to meet this new performance expectation.<br></br></p>
				</div>
				<div class="row videowrapper">
				<iframe src="https://www.youtube.com/embed/W-RYIaUIuJ0" allowfullscreen></iframe>
				</div><br><br>

</div>

	</ion-content>
</ion-view>