<ion-view title="The Performance Transformation">
	<ion-content class="padding">
		<div class="card item-text">
			<div class="item item-text-wrap item-divider card-bk2">
			Strategies to Build a Workforce of Enterprise Contributors
			</div>
			<div class="item item-text-wrap">
				<p><small class="text-muted">MEETING | MULTIPLE DATES</small></p><hr></hr>

				<div class="row">
					<div class="col dte"><h2>Date</h2></div>
					<div class="col tme"><h2>Time</h2></div>
					<div class="col loc"><h2>Location</h2></div>
					<div class="col sta"><h2>Status</h2></div>
				</div>
				<div class="row">
					<div class="col dte1"><p>19 AUGUST 2015</p></div>
					<div class="col tme1"><p>08:00 AM-04:00 PM</p></div>
					<div class="col loc1"><p>Chicago, IL</p></div>
					<div class="col sta1"><p>
					<a class="button button-small button-balanced" ng-class="{true: 'button-balanced', false: 'button-clear button-stable'}[!patient.archived]" ng-click="patient.archived = !patient.archived; registerMe()">{{!patient.archived && 'Register' || 'Registered'}}</a>
					</p>
					</div>
				</div>
				<div class="row">
					<div class="col dte1"><p>29 AUGUST 2015</p></div>
					<div class="col tme1"><p>06:00 PM-02:00 AM</p></div>
					<div class="col loc1"><p>Sydney, Australia</p></div>
					<div class="col sta1"><p>
					<a class="button button-small button-balanced" ng-class="{true: 'button-balanced', false: 'button-clear button-stable'}[!second.archived]" ng-click="second.archived = !second.archived; registerMe1()">{{!second.archived && 'Register' || 'Registered'}}</a>
					</p>
					</div>
				</div>
				<div class="row">
					<div class="col dte1"><p>21 OCTOBER 2015</p></div>
					<div class="col tme1"><p>02:00 AM-10:00 AM</p></div>
					<div class="col loc1"><p>Johannesburg, South Africa</p></div>
					<div class="col sta1"><p>
					<a class="button button-small button-balanced" ng-class="{true: 'button-balanced', false: 'button-clear button-stable'}[!third.archived]" ng-click="third.archived = !third.archived; registerMe2()">{{!third.archived && 'Register' || 'Registered'}}</a>
					</p>
					</div>
				</div>
			</div>
			<div class="item item-text-wrap">
				<p><strong>How can we improve employee performance in a matrixed, complex work environment?</strong><br><br>
				Success today requires employees who are enterprise contributors—employees that perform well individually and effectively through others. To transform performance, most organizations use new performance management strategies, reward and recognition programs, and collaboration MBOs.<br></br>However, 75% of employees believe their organization has actually made it harder for them to meet these new performance expectations.<br></br>The best organizations make it easier for employees to demonstrate the behaviors that drive enterprise contribution by using strategies that include redefining workflows, structures, roles, and manager expectations, not just the performance management process.</p>
			
			
			</div>
		</div>

	</ion-content>
</ion-view>