<ion-view title="My Feed">
	<ion-content class="padding">
				<div class="card">
        <h1><p class="item item-text-wrap">What Are End-to-End IT Services? <i ng-class="{true: 'icon ion-ios-star favMeNo', false: 'icon ion-ios-star favMeYes'}[!favorite]" ng-click="favorite = !favorite" href="#"></i>
				<i ng-class="{true: 'icon ion-share favMeNo', false: 'icon ion-share favMeYes'}[!email]" ng-click="email = !email" href="#"></i></p></h1>
		<hr></hr>
				<div class="row">
					<p class="item item-text-wrap">
					This is not another take on the same basic organizational design model — this is something completely different. End-to-end IT services fundamentally change the way IT interacts with the business and supports business needs. End-to-end IT services package all the technologies, processes, and resources across IT needed to deliver a specific business outcome while hiding technical complexity. Use this new operating model to restructure your IT organization in a way that breaks down traditional functional boundaries and instead organizes around business outcomes and activities. See how end-to-end IT services increases efficiency and flexibility within YOUR organization.</p>
				</div>
				<div class="row videowrapper">

					<iframe src="https://www.youtube.com/embed/6iOGFphcABo" allowfullscreen></iframe>
				</div><br><br>

</div>

	</ion-content>
</ion-view>