    <ion-view title="My Budget Diagnostic Results">
      <ion-content class="padding">
		<ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1">
		<div class="card" >
		    <div class="item item-divider card-bk2">
				IT
			</div> 
			<div class="row">
				<div class="col" ng-controller="chartCtrl2">
					<div google-chart chart="chart2">
				    </div>
				</div>

			</div>
			<div class="item item-divider card-bk2">
				Compliance & Ethics
			</div> 
			<div class="row">
				<div class="col" ng-controller="chartCtrl3">
					<div google-chart chart="chart2">
				</div>
			</div>
			</div>
		</div>
		<div class="card" >
		    <div class="item item-divider card-bk2">
				Finance Staff Time Spend
			</div> 		
			<div class="row">
				<div class="col col-50">
					<div google-chart chart="chart"
						style="padding:0;width:400px">
				    </div>
				</div>
				<div class="col col-50">
					<div google-chart chart="chartMy"
						style="padding:0;width:400px">
				    </div>
				</div>
			</div>
		</div>

		</ion-scroll>
      </ion-content>
    </ion-view>
	
	

 