    <ion-view title="2014 Top Insights for HR Executives">
      <ion-content class="padding">
		<div class="card">
        <p>Finance</p>
		
		<ion-item>
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/GHwAPI5vhRs" frameborder="0" allowfullscreen></iframe>
			</div>
        </ion-item>
<!-- 		<iframe src="http://cdn.sublimevideo.net/e/gg7odx5u/exbd-FIN-360-FinanceTalentVideo.html" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div> -->

      </ion-content>
    </ion-view>