<ion-view view-title="My Memberships">
      <ion-content class="padding">
		
		<div class="Card">
          <div class="item item-divider card-bk2">
            Finance
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-cash"></i>
            87% of CFOs are unhappy with the talent mix of their teams. Learn why.
          </a>
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-ios-pulse-strong"></i>
            Generate the next level of breakthrough performance in the financial services industry.
          </a>          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-ios-people"></i>
            The Future of Government IT: Establishing IT as a Broker, Not a Builder.
          </a>
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon icon ion-happy"></i>
            Employees are 2X more likely to stay with their organization compared to five years ago. Access Q2 workforce trends.
          </a>
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-wand"></i>
            5 Principles of Adaptive IT Organizations Must Adopt to Meet Growing Business Demand
          </a>
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-paintbucket"></i>
            Companies whose R&D workforces have high innovation potential see 75% greater new product sales than other companies.
          </a>
		  
          <div class="item item-divider card-bk2">
            Innovation & Strategy
          </div>  
          
          <div class="item item-divider card-bk2">
            Information Technology
          </div>  
                    
        <div class="item item-divider card-bk2">
            Human Resources
          </div>  
          
          <div class="item item-divider card-bk2">
            Government
          </div>  
          <div class="item item-divider card-bk2">
            Financial Services
          </div> 
          <!-- <div class="item item-divider">
            Angularjs list
          </div>
               
          <ion-item ng-repeat="item in items" class="item item-icon-right" href="#/menu/tab/item">
            Item {{ item.id }}
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>  

          <div class="item item-divider">
            Avatar list item
          </div>  

          <a class="item item-avatar" href="#/menu/tab/item">
            <img src="http://ionicframework.com/img/docs/blue-album.jpg">
            <h2>Title</h2>
            <p>Some detailed text</p>
          </a>

          <div class="item item-divider">
            Thumbnail list item
          </div>  
          <a class="item item-thumbnail-left" href="#/menu/tab/item">
            <img src="http://ionicframework.com/img/docs/blue-album.jpg">
            <h2>Title</h2>
            <p>Some detailed text</p>
          </a> -->

        </div>         

	  </ion-content>
    </ion-view>