<ion-view title="">
	<ion-content class="padding">
		<div class="card item-text">
			<div class="item item-divider card-bk2">
			CEB Summit for IT Leaders
			</div>
			<div class="item item-text-wrap">
				<p><small class="text-muted">MEETING | 7 OCTOBER 2015</small></p><hr></hr>

				<div class="row">
					<div class="col dte"><h2>Date</h2></div>
					<div class="col tme"><h2>Time</h2></div>
					<div class="col loc"><h2>Location</h2></div>
					<div class="col sta"><h2>Status</h2></div>
				</div>

				<div class="row">
					<div class="col dte1"><p>26 OCTOBER 2015</p></div>
					<div class="col tme1"><p>08:00 AM-04:00 PM</p></div>
					<div class="col loc1"><p>Chicago, IL</p></div>
					<div class="col sta1"><p><a class="button button-small button-balanced" ng-class="{true: 'button-balanced', false: 'button-clear button-stable'}[!patient.archived]" ng-click="patient.archived = !patient.archived; registerMe1()">{{!patient.archived && 'Register' || 'Registered'}}</a></p></div>
				</div>				
			</div>
			<div class="item item-text-wrap"><strong>Adaptive IT: Leading for Speed and Flexibility</strong>
				<p>In order to keep up with broad-based and fast-changing technology advancements, the best IT organizations must constantly adapt to thrive in any environment, without stipulating a specific end-state.<br><br>
				IT's inability to deliver at the new speed-of-business creates a competitive disadvantage for the organization. In fact, our research shows that two-thirds of business leaders believe their organization responds too slowly to technology-enabled opportunities.</p>
			
			
			</div>
		</div>

	</ion-content>
</ion-view>