    <ion-view title="Meetings">
      <ion-content class="padding">
		<div class="card">
			<a class="item item-text-wrap" href="#/menu/tab/live2meeting">
					<h2>Accelerating IT's Clock Speed</h2>
					<p><small class="text-muted">MEETING | 16 SEPTEMBER 2015</small></p><hr></hr>
					 <p >View Full Agenda Join us for the 2015 Executive Meeting series, where CEB brings together true peers to discuss solutions to the most critical challenges facing CIOs today. Sixty-three percent of business leaders believe their company responds too slowly to technology-enabled opportunities. In an era when the vast majority of organizational priorities rely on technology, and technology has become indispensable to develop, market, distribute and sell the company's products, IT's...</p> 
			</a>
		</div>
		<div class="card">
			<a class="item item-text-wrap" href="#/menu/tab/live3meeting">
					<h2>CEB Summit for IT Leaders</h2>
					<p><small class="text-muted">MEETING | 7 OCTOBER 2015</small></p><hr></hr>
					 <p >Please note: The above location is multi-day event: Start Date/Time End Date/Time Location 26 October 2015/08:00 AM 27 October 2015/04:00 PM Chicago, IL We apologize for any inconvenience and are working to resolve this display issue as soon as possible. View Full Agenda Adaptive IT: Leading for Speed and Flexibility In order to keep up with broad-based and fast-changing technology advancements, the best IT organizations must constantly adapt to thrive in any environment,...</p>
			</a>
		</div>
      </ion-content>
    </ion-view>