   <div class="modal ">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">We are all ears!</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>

      </ion-header-bar>
      
      <ion-content class="padding card-bk2">
	  	<!-- <div class="card">
		<div class="item item-divider item-dark item-text-wrap card-bk1">Contact your account representative</div>
			<div class="item">
				<button class="button button-icon ion-ios-telephone iconPhone" ng-click="show1()"> Click to connect!</button>
			</div>
		</div> -->
	  
	  
		<div class="card">
		<div class="item item-divider item-dark item-text-wrap card-bk1">Have a question? Drop us a line and we'll get back to you shortly.</div>
			<div class="item">
<!--           <label class="item item-input">
            <span class="input-label">To</span>
            <input type="text">
          </label>
 -->
            
            <textarea rows="8" cols="70" placeholder="Your question"></textarea>
    	  </div>
		</div>
        <button class="button icon icon-right ion-arrow-right-c button-positive button-block" ng-click="modal.confrm()">Send</button><hr></hr>

		
      </ion-content>
    </div>