<ion-view title="">
	<ion-content class="padding">
		<div class="card item-text">
			<div class="item item-text-wrap item-divider card-bk2">
			Threat Landscape and Security Priorities for 2015
			</div>
			<div class="item item-text-wrap">
				<p><small class="text-muted">Note: This event has concluded. Please access a recording and slides from the webinar.</small></p><hr></hr>

				<div class="row">
					<div class="col dte"><h2>File Name</h2></div>
					<div class="col tme"><h2>File Type</h2></div>
					<div class="col loc"><h2>File Size</h2></div>
					<div class="col sta"><h2> </h2></div>
				</div>
				<div class="row">
					<div class="col dte1"><p>Download Replay</p></div>
					<div class="col tme1"><p>N/A</p></div>
					<div class="col loc1"><p>N/A</p></div>
					<div class="col sta1"><a class="button button-small button-balanced" ng-class="button-balanced">Download</a></div>
				</div>
				<div class="row">
					<div class="col dte1"><p>Download Presentation</p></div>
					<div class="col tme1"><p>PDF</p></div>
					<div class="col loc1"><p>1 MB</p></div>
					<div class="col sta1"><a class="button button-small button-balanced" ng-class="button-balanced">Download</a></div>
				</div>				
				<div class="row">
					<div class="col dte1"><p>Listen Webinar Audio</p></div>
					<div class="col tme1"><p>MP3</p></div>
					<div class="col loc1"><p>13 MB</p></div>
					<div class="col sta1"><a class="button button-small button-balanced" ng-class="button-balanced">Listen</a></div>
				</div>					
			</div>
			<div class="item item-text-wrap">
				<p>As an aid to planning for 2015, this webinar will review two datasets collected from the membership in the fall of 2014. The first dataset is CEB’s annual Threat Landscape Survey, which collects peer wisdom about the riskiest threat agents. The second dataset is the Agenda Survey, which asks CISOs about their big initiatives across the coming 12 months.<br><br>
				Jumpstart conversations with functional peers on specific risks resulting from these threats.</p>
			
			
			</div>
			
		</div>

	</ion-content>
</ion-view>