    <ion-view title="Past Events">
      <ion-content class="padding">
  
		<div class="card">
			<div class="item item-divider card-bk2">
				Live Events
			</div>
			<a class="item item-text-wrap" href="#/menu/tab/myPastEvents3">
					<h2>CEB Summit for IT Leaders</h2>
					<p><small class="text-muted">MEETING | 7 APRIL 2015</small></p><hr></hr>
					 <p >Please note: The above location is multi-day event: Start Date/Time End Date/Time Location 26 October 2015/08:00 AM 27 October 2015/04:00 PM Chicago, IL We apologize for any inconvenience and are working to resolve this display issue as soon as possible. View Full Agenda Adaptive IT: Leading for Speed and Flexibility In order to keep up with broad-based and fast-changing technology advancements, the best IT organizations must constantly adapt to thrive in any environment,...</p>
			</a>
		</div>
		<div class="card">
			<div class="item item-divider card-bk2">
				Webinars
			</div>
			<a class="item item-text-wrap" href="#/menu/tab/myPastEvents2">
					<h2>Improving IT Handoffs for Faster Collaboration Accelerating ITs Clock Speed</h2>
					<p><small class="text-muted">WEBINAR | 29 MAY 2015</small></p><hr></hr>
					 <p >CEB's 2015 IT Clockspeed survey found that 45% of the top 20 ways to accelerate IT involved speeding up the handoffs within IT, and between IT and corporate center groups (e.g. legal, procurement). For example, finding ways to better manage SME bottlenecks, mismatched timing, and information deficiencies. In response, the best IT organizations use business architecture to define fast, simple handoffs across IT, and realign responsibilities to improve coordination and collaboration with the...</p>
			</a>

		</div>
      </ion-content>
    </ion-view>