<ion-view title="">
	<ion-content class="padding">
		<div class="card item-text">
			<div class="item item-divider card-bk2">
			Improving IT Handoffs for Faster Collaboration: Accelerating IT's Clock Speed
			</div>
			<div class="item item-text-wrap">

				<div class="row">
					<div class="col dte"><h2>Date</h2></div>
					<div class="col tme"><h2>Time</h2></div>
					<div class="col sta"><h2>Status</h2></div>
				</div>
				<div class="row">
					<div class="col dte1"><p>29 JULY 2015</p></div>
					<div class="col tme1"><p>10:00 AM-11:00 AM ET</p></div>
					<div class="col sta1"><p><a>Registered</a></p></div>
				</div>
				
			</div>
				<p class="item item-text-wrap">CEB's 2015 IT Clockspeed survey found that 45% of the top 20 ways to accelerate IT involved speeding up the handoffs within IT, and between IT and corporate center groups (e.g. legal, procurement). For example, finding ways to better manage SME bottlenecks, mismatched timing, and information deficiencies.<br><br>
				In response, the best IT organizations use business architecture to define fast, simple handoffs across IT, and realign responsibilities to improve coordination and collaboration with the corporate center.<br><br>For this webinar we will be joined by Matt Stuempfle, Director of Enterprise Architecture at Red Hat Inc, who will share his experiences of improving IT handoffs.</p>
			<a class="item" href="#/menu/tab/web1img">
			<img src="img/CIO_MIT_large.png" class="img1"></img></a>
		
		
		</div>

	</ion-content>
</ion-view>