<ion-view view-title="CEB Podcast">
      <ion-content class="padding">
		<ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1">	  
        <div ng-controller="podcastCtrl">
        <div class="Card">
          <div class="item item-divider card-bk2">
            Overview of CEB's R&D Maturity Diagnostic
          </div>  
			<div class="item item-divider item-text-wrap">
			<p>Tune into this podcast to learn more about CEB R&D's new tool: the R&D Maturity Diagnostic</p><br>
			<div class="row">
				<div class="col col-90 pull-left">
					<audio id="iPlayer" controls preload="auto">

					<source src="assets/sound1.wav" type="audio/mpeg">
					Your browser does not support the audio element. 
					</audio>
				</div>
				<div class="col">
					<button class="button button-small pull-right button-balanced ion-archive" onclick="alert('Download started');"></button>

				</div>
<!-- 			<button class="button button-small icon-left ion-play button-positive" ng-click="playPod()">Play</button>
			<button class="button button-small icon-left ion-stop button-assertive" ng-click="stopPod()">Stop</button> -->
			</div>
			</div>
		</div><p></p>
		<div class="Card">
        	
             <div class="item item-divider item-text-wrap card-bk2">
				2015 Research Agenda and the Best Ways to Use the CEB Membership
			</div>
			<div class="item item-divider item-text-wrap">
			<p>Tune into this podcast to preview our 2015 research agenda and discover the best ways to use your CEB Risk membership.</p><br>
			<div class="row">
				<div class="col col-90 pull-left">
					<audio id="iPlayer" controls>

					<source src="assets/sound2.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio>
				</div>
				<div class="col">
					<button class="button button-small pull-right button-balanced ion-archive" onclick="alert('Download started');"></button>

				</div>
			</div>
			</div>


        </div> 
		</div>
		</ion-scroll>
      </ion-content>
    </ion-view>