   <ion-view view-title="Search">
    <ion-content class="padding">
	<ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1"">
	<div class="card" ng-app>
	    
    <div class="item item-divider item-dark card-bk2">Search</div>

		<div class="item item-text-wrap">
			<div ng-controller="dataCtrl">

				<input ng-model="nameFilter" id="chatinput" onkeyUp="document.getElementById('hidden').className = ''"/>
						<hr></hr>
				<div class="hidden" id="hidden">
				<div ng-hide="nameFilter==''">
				<table>
					<tr>
						<th>Searching for {{nameFilter}}</th>
					</tr>
					<tr ng-repeat="datum in data | filter: nameFilter"">
						<td>{{datum.details}}</td>
					</tr>
				</table>
				<p></p>

				<div ng-repeat="datum in data | filter:nameFilter">
					
						<img class="resizeImg" src="{{datum.infoGraphic}}"></img>
					
				</div>
				</div>
				</div>
				</div>

            
          </div>  
	</div>
</ion-scroll>
	</ion-content>
    </ion-view>