    <ion-view view-title="My Events">
      <ion-content>
		<div class="Card">
          <div class="item item-divider card-bk2">
            Live Events
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/live1">
            <i class="icon ion-ios-people"></i>
            2015 Live Meetings
          </a>
          <div class="item item-divider card-bk2">
            Virtual Events
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/web1">
            <i class="icon ion-easel"></i>
            2015 Webinars
          </a>
		</div>
       </ion-content>    
    </ion-view>