    <ion-view view-title="My Events">
      <ion-content>
		<div class="card">
          <div class="item item-divider card-bk2">
            Live Events
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/live1">
            <i class="icon ion-ios-people"></i>
            2015 Live Meetings
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/live2meeting">
            <strong>Accelerating IT's Clock Speed</strong><br>
			<small class="text-muted">MEETING | 16 SEPTEMBER 2015</small>
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/live3meeting">
            <strong>CEB Summit for IT Leaders</strong><br>
			<small class="text-muted">MEETING | 7 OCTOBER 2015</small>
          </a>
          <div class="item item-divider card-bk2">
            Virtual Events
          </div>  
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/web1">
            <i class="icon ion-easel"></i>
            2015 Webinars
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/web2meeting">
            <strong>Preparing Your IT Workforce in an Era of Ubiquitous Technology</strong><br>
			<small class="text-muted">WEBINAR | 13 AUGUST 2015</small>
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/web3meeting">
            <strong>Running an Effective Office of the CIO: Strategic Planning</strong><br>
			<small class="text-muted">WEBINAR | 18 AUGUST 2015</small>
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/web4meeting">
            <strong>How to Select Best in Kind Vendors for Competitive Advantage</strong><br>
			<small class="text-muted">WEBINAR | 10 SEPTEMBER 2015</small>
          </a>
		</div>
		
		<div class="card">
		<div class="item item-divider card-bk2">
            My Registered Events
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/myEvents">
            <i class="icon ion-ios-briefcase"></i>
            My Registered Events
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/myEvents1">
            <strong>Accelerating IT's Clock Speed</strong><br>
			<small class="text-muted">MEETING | 14 AUGUST 2015</small>
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/myEvents3">
            <strong>CEB Summit for IT Leaders</strong><br>
			<small class="text-muted">MEETING | 7 OCTOBER 2015</small>
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/myEvents2">
            <strong>Improving IT Handoffs for Faster Collaboration Accelerating ITs Clock Speed</strong><br>
			<small class="text-muted">WEBINAR | 29 JULY 2015</small>
          </a>

		<div class="item item-divider card-bk2">
            My Past Events
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/myPastEvents">
            <i class="icon ion-arrow-shrink"></i>
            My Past Events
          </a>
           <a class="item item-text-wrap" href="#/menu/tab/myPastEvents4">
            <strong>Threat Landscape and Security Priorities for 2015</strong><br>
			<small class="text-muted">WEBINAR | CONCLUDED</small>
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/myPastEvents3">
            <strong>CEB Summit for IT Leaders</strong><br>
			<small class="text-muted">MEETING | 7 APRIL 2015</small>
          </a>
		  <a class="item item-text-wrap" href="#/menu/tab/myPastEvents2">
            <strong>Improving IT Handoffs for Faster Collaboration Accelerating ITs Clock Speed</strong><br>
			<small class="text-muted">WEBINAR | 29 MAY 2015</small>
          </a>
		</div>
       </ion-content>    
    </ion-view>