    <ion-view view-title="My Events">
      <ion-content>
        <ion-slide-box>
          <ion-slide>
		  <div class="card">
            <div class="box">
				<div class="item item-divider item-text-wrap">
          
                <h2 class="card-bk2"> Workshop: Accelerating Commercial Contracting</h2> 
				<h2>Executive Retreat<br />22 Jul 2015 (Chicago, IL)</h2>

                </div>
				<div class="item item-divider item-text-wrap cText">
				<h2>Legal departments spend too much time managing low-value contracts, crowding out higher-value work. Learn to:
				<ul>
					<li>Allocate resources to the riskiest, highest-value contracts;</li>
					<li>Increase the efficiency of contracting processes to accelerate growth; and</li>
					<li>Minimize risk by organizing contract records and tracking contract milestones.</li>
				</ul>
				<ul>Meeting Timings:
					<li>Tuesday, 23 June 2015 | London, UK | 08:30 a.m.—04:30 p.m. (GMT)</li>
					<li>Wednesday, 22 July 2015 | Chicago, IL | 08:00 a.m.—04:00 p.m. (CST)</li>
				</ul>
				<ul>
					<li class="item item-toggle">
					 Register me Now!
					 <label class="toggle toggle-balanced">
					   <input type="checkbox">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					 </label>
				  </li>
				</ul>
				<hr></hr>
				
				</div>
				</h2>
				<ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1"">
				<img src="img/chicago.png" width="98%"></img></ion-scroll>
				<!-- <div id="map" data-tap-disabled="true"></div> -->
				</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="card">
			<div class="box">
				<div class="item item-divider card-bk2">
          
                <h2  class="card-bk2">Webinar #2</h2>
                </div>
				<p>Content goes here</p>
<!-- 				<button class="button button-small icon-left ion-play button-positive" ng-click="play('http://audio.ibeat.org/content/p1rj1s/p1rj1s_-_rockGuitar.mp3')">Play Podcast</button> -->
<!-- <button class="button button-small icon-left ion-play button-positive" ng-click="player.playPause()">Play/Pause</button>
<!--Variables example-->
<!-- <span>Position {{player.position}}</span>
<span>Duration {{player.duration}}</span> -->
            </div>
			</div>
          </ion-slide>
          <ion-slide>
		  <div class="card">
            <div class="box">
				<div class="item item-divider card-bk2">
          
                <h1>Meeting #3</h1>
                </div>
                <p>Content goes here</p>
            </div>
			</div>
          </ion-slide>
        </ion-slide-box>
       </ion-content>    
    </ion-view>