   <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
<!-- <ion-spinner icon="ripple" ></ion-spinner> -->
        <ion-nav-buttons side="right">
			<div><a href="#" ng-click="modal.show()"><i class="button button-icon button-clear ion-compose srch"></i></a></div>
<!--           <button class="button button-icon button-clear ion-compose" ng-click="modal.show()"></button> -->
        </ion-nav-buttons>
    </ion-nav-bar>
        
    <ion-tabs class="tabs-icon-top tabs-positive">

      <ion-tab title="What's Trending" icon="ion-ios-pulse-strong" href="#/menu/tab/buttons">
        <ion-nav-view name="buttons-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="My Events" icon="ion-ios-calendar-outline" href="#/menu/tab/slidebox">
        <ion-nav-view name="slide-tab"></ion-nav-view>
      </ion-tab>

<!--       <ion-tab title="My Memberships" icon="ion-ios-bookmarks-outline" href="#/menu/tab/list">
        <ion-nav-view name="list-tab"></ion-nav-view>
      </ion-tab> -->

<!--       <ion-tab title="My Search" icon="ion-ios-search" href="#/menu/tab/search">
        <ion-nav-view name="search-tab"></ion-nav-view>
      </ion-tab> -->
	  
	  <ion-tab title="My Podcast" icon="ion-speakerphone" href="#/menu/tab/podcast">
        <ion-nav-view name="podcast-tab"></ion-nav-view>
      </ion-tab>
	  
	  <ion-tab title="My CEB" icon="ion-ios-person" href="#/menu/tab/userProfile">
        <ion-nav-view name="userProfile-tab"></ion-nav-view>
      </ion-tab>	  
    </ion-tabs>