    <ion-view title="CEB Webinars">
      <ion-content class="padding">

		<div class="card">
			<a class="item item-text-wrap" href="#/menu/tab/web2meeting">
					<h2>Preparing Your IT Workforce in an Era of Ubiquitous Technology</h2>
					<p><small class="text-muted">WEBINAR | 13 AUGUST 2015</small></p><hr></hr>
					 <p >As IT's business interface and delivery model change, IT employees need a new mindset and set of competencies. Based on assessments of thousands of IT employees globally, CEB has identified the 12 competencies that have the greatest impact on IT employee performance. In this webinar you will learn how to: Develop a climate of openness to uncertainty, and new ways of working Expand IT's engagement competencies Equip IT managers to guide the development of IT...</p>
			</a>
		</div>
		<div class="card">
			<a class="item item-text-wrap" href="#/menu/tab/web3meeting">
					<h2>Running an Effective Office of the CIO: Strategic Planning</h2>
					<p><small class="text-muted">WEBINAR | 18 AUGUST 2015</small></p><hr></hr>
					 <p >Less than 25% of business partners rate IT’s strategy and planning efforts as effective, and many IT strategies either offer vague plans to meet even vaguer goals, or go to the other extreme and present long lists of tactical projects that have little connection to the company’s objectives. In this webinar you will learn how: the most effective IT chiefs of staff ensure their IT strategy is informed by business objectives and bring creativity into IT strategic  plans. You will also be able to...</p>
			</a>
		</div>
		<div class="card">
			<a class="item item-text-wrap" href="#/menu/tab/web4meeting">
					<h2>How to Select Best in Kind Vendors for Competitive Advantage</h2>
					<p><small class="text-muted">WEBINAR | 10 SEPTEMBER 2015</small></p><hr></hr>
					 <p >Business leaders look to a widening range of emergent and niche vendors to support capabilities that drive competitive advantage. CIOs are well aware of the opportunities that collaboration with partners outside of the traditional vendor portfolio can bring. Unfortunately, many IT organizations still lack an effective process for recognizing and acting on these opportunities. In this webinar you will learn how to: Take a principled approach to diversifying the vendor portfolio Select vendors for...</p>
			</a>
		</div>
		</ion-content>
    </ion-view>