<ion-view title="">
	<ion-content class="padding">
		<div class="card item-text">
			<div class="item item-divider card-bk2">
			Preparing Your IT Workforce in an Era of Ubiquitous Technology
			</div>
			<div class="item item-text-wrap">

				<div class="row">
					<div class="col dte"><h2>Date</h2></div>
					<div class="col tme"><h2>Time</h2></div>
					<div class="col sta"><h2>Status</h2></div>
				</div>
				<div class="row">
					<div class="col dte1"><p>13 AUGUST 2015</p></div>
					<div class="col tme1"><p>12:00 PM-01:00 PM ET</p></div>
					<div class="col sta1"><p><a class="button button-small button-balanced" ng-class="{true: 'button-balanced', false: 'button-clear button-stable'}[!patient.archived]" ng-click="patient.archived = !patient.archived">{{!patient.archived && 'Register' || 'Registered'}}</a></p></div>
				</div>
				
			</div>
			<div class="row">
			<div class="item item-text-wrap">
				<p>As IT's business interface and delivery model change, IT employees need a new mindset and set of competencies. Based on assessments of thousands of IT employees globally, CEB has identified the 12 competencies that have the greatest impact on IT employee performance.<br><br>
				<strong>In this webinar you will learn how to:</strong><br><br></p>
				
				<ol class="item item-text-wrap">
					<li><p>Develop a climate of openness to uncertainty, and new ways of working</p></li>
					<li><p>Expand IT's engagement competencies</p></li>
					<li><p>Equip IT managers to guide the development of IT employees</p></li>
				</ol>
				
			</div>

			</div>
		</div>

	</ion-content>
</ion-view>