<ion-view title="">
	<ion-content class="padding">
		<div class="card item-text">
			<div class="item item-divider card-bk2">
			Running an Effective Office of the CIO: Strategic Planning
			</div>
			<div class="item item-text-wrap">


				<div class="row">
					<div class="col dte"><h2>Date</h2></div>
					<div class="col tme"><h2>Time</h2></div>
					<div class="col sta"><h2>Status</h2></div>
				</div>
				<div class="row">
					<div class="col dte1"><p>18 AUGUST 2015</p></div>
					<div class="col tme1"><p>12:00 PM-01:00 PM ET</p></div>
					<div class="col sta1"><p><a class="button button-small button-balanced" ng-class="{true: 'button-balanced', false: 'button-clear button-stable'}[!patient.archived]" ng-click="patient.archived = !patient.archived">{{!patient.archived && 'Register' || 'Registered'}}</a></p></div>
				</div>
				
			</div>
			<div class="row">
			<div class="item item-text-wrap">
				<p>Less than 25% of business partners rate IT’s strategy and planning efforts as effective, and many IT strategies either offer vague plans to meet even vaguer goals, or go to the other extreme and present long lists of tactical projects that have little connection to the company’s objectives.<br><br>
				<strong>In this webinar you will learn how:</strong><br><br></p>
				
				<ol class="item item-text-wrap">
					<li><p>the most effective IT chiefs of staff ensure their IT strategy is informed by business objectives and bring creativity into IT strategic  plans.</p></li>
					<li><p>You will also be able to discuss the challenges and opportunities of IT strategic planning with the many other chiefs of staff who are participating in the webinar.</p></li>
				</ol>
				
			</div>

			</div>
		</div>

	</ion-content>
</ion-view>