<ion-view title="">
	<ion-content class="padding">
		<div class="card item-text">
			<div class="item item-divider card-bk2">
			How to Select Best in Kind Vendors for Competitive Advantage
			</div>
			<div class="item item-text-wrap">
				<div class="row">
					<div class="col dte"><h2>Date</h2></div>
					<div class="col tme"><h2>Time</h2></div>
					<div class="col sta"><h2>Status</h2></div>
				</div>
				<div class="row">
					<div class="col dte1"><p>10 SEPTEMBER 2015</p></div>
					<div class="col tme1"><p>10:00 AM-11:00 AM ET</p></div>
					<div class="col sta1"><p><a class="button button-small button-balanced" ng-class="{true: 'button-balanced', false: 'button-clear button-stable'}[!patient.archived]" ng-click="patient.archived = !patient.archived">{{!patient.archived && 'Register' || 'Registered'}}</a></p></div>
				</div>
				
			</div>
			<div class="row">
			<div class="item item-text-wrap">
				<p>Business leaders look to a widening range of emergent and niche vendors to support capabilities that drive competitive advantage. CIOs are well aware of the opportunities that collaboration with partners outside of the traditional vendor portfolio can bring. Unfortunately, many IT organizations still lack an effective process for recognizing and acting on these opportunities.<br><br>
				<strong>In this webinar you will learn how to:</strong><br><br></p>
				
				<ol class="item item-text-wrap">
					<li><p>Take a principled approach to diversifying the vendor portfolio</p></li>
					<li><p>Select vendors for their ability to drive business opportunity creation and innovation</p></li>
				</ol>
				
			</div>

			</div>
		</div>

	</ion-content>
</ion-view>