
    <ion-view view-title="What's new in your network">
      <ion-content class="padding">
      
		<div class="item item-divider item-dark card-bk2">CEB: How to Live with Risks</div>    

			<div class="item item-text-wrap">
				Following a crisis, regulators and managers naturally take steps to prevent a recurrence. In 2002, after Enron and WorldCom succumbed to massive accounting fraud, U.S. legislators passed the Sarbanes-Oxley Act, which gave directors and executives new oversight responsibilities. In the wake of the 2008 financial crisis many large banks changed their business models, and other companies implemented systems to better manage credit risks or eliminate overreliance on mathematical models.
			</div>        
		<div class="item item-divider item-dark card-bk2">CEB: Best Way to Hire</div>    

			<div class="item item-text-wrap">
				A study by CEB found that 40% of internal moves involving high-potential employees end in failure. And these are presumably the employees whom the organizations should have the most detailed information about.
			</div>   
		<div class="item item-divider item-dark card-bk2">Moody's upgrades CEB Inc.'s CFR to Ba2</div>    

			<div class="item item-text-wrap">
				New York, May 29, 2015 -- Moody's Investors Service upgraded CEB Inc.'s ("CEB") Corporate Family Rating (CFR) to Ba2, from Ba3, Probability of Default rating to Ba3-PD, from B1-PD, and the rating for its senior secured credit facilities to Ba2, from Ba3. Moody's also affirmed CEB's SGL-1 speculative grade liquidity rating. The ratings have a stable outlook.
			</div> 
		<div class="item item-divider item-dark card-bk2">CEB: Why Self Image Matters in B2B Sales</div>    
			<div class="item item-text-wrap">
				B2C marketers have long known that the key to a customers’ hearts and minds is to make the connection between the brand and customers’ sense of self. Powerful brands (think Apple and Nike) reinforce customers’ positive self-image. B2B marketers, on the other hand, have shied away from the idea, instead approaching selling as a rational, numbers-driven process where the best value proposition wins. Consequently, until recently they’ve paid little attention to the psychological needs of individual stakeholders in a purchasing organization. But that’s changing as suppliers have come to appreciate that companies don’t buy things, people do.
				<br /><br />Our research shows that understanding the personal motivations – particularly around identity — of key people in a buyer organization are every bit as important to a sale as convincing them of the superiority of your solution.
			</div> 
			<!-- <p>
          <a class="button icon icon-left button-assertive" ng-click="showPopup()">Popup</a>
          <a class="button icon icon-left button-energized" ng-click="showActionsheet()">Action Sheet</a>
          <a class="button icon icon-left button-balanced" ng-click="modal.show()">Modal</a>
        </p> -->
				<hr></hr>
		<div class="card">
		<marquee behavior="scroll" direction="left" 
			onmouseover="this.stop();" 
			onmouseout="this.start();">
            <i class="icon ion-ios-pulse-strong"></i> <strong>Finance:</strong> 75% of CxOs are unhappy with the talent mix of their teams. <i class="icon ion-ios-pulse-strong"></i> <strong>Financial Services:</strong> Generate the next level of breakthrough performance in the financial services industry. <i class="icon ion-ios-pulse-strong"></i> <strong>Government:</strong> The future of Government IT - Establishing IT as a broker, not a builder.  
		</marquee>
		</div>
		
      </ion-content>
    </ion-view>
