<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>CEB Mobile App - Prototype</title>
  <link href="http://code.ionicframework.com/1.0.0-rc.4/css/ionic.min.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <script src="http://code.ionicframework.com/1.0.0-rc.4/js/ionic.bundle.min.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <!-- google maps javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&amp;sensor=true"></script>
  <script src="js/app.js"></script> 
</head>
<body ng-controller="AppCtrl">
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-view animation="slide-left-right"></ion-nav-view>
    
  <script id="menu.html" type="text/ng-template">
    <ion-side-menus>
      <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
          <h1 class="title">My CEB</h1>
        </ion-header-bar>
        <ion-content class="card-bk1">
          <ul class="list">
            <a href="#/menu/tab/buttons" class="item" menu-close>What's New</a>
            <a href="#/menu/tab/list" class="item" menu-close>My Insights</a>
            <a href="#/menu/tab/slidebox" class="item" menu-close>My Events</a>
            <a href="#/menu/about" class="item" menu-close>About</a>
          </ul>
        </ion-content>
      </ion-side-menu>
      <ion-side-menu-content> 
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons ng-if="!isLogin" side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
        </ion-nav-bar>              
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>
    </ion-side-menus>
  </script>
  <script id="tabs.html" type="text/ng-template">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
			<a href="#" ng-click="modal.show()"><ion-spinner icon="ripple"></ion-spinner></a>
<!--           <button class="button button-icon button-clear ion-compose" ng-click="modal.show()"></button> -->
        </ion-nav-buttons>
    </ion-nav-bar>
        
    <ion-tabs class="tabs-icon-top tabs-positive">

      <ion-tab title="What's New" icon="ion-ios-star" href="#/menu/tab/buttons">
        <ion-nav-view name="buttons-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="My Insights" icon="ion-ios-lightbulb" href="#/menu/tab/list">
        <ion-nav-view name="list-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="My Events" icon="ion-person-stalker" href="#/menu/tab/slidebox">
        <ion-nav-view name="slide-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </script>
  
  <script id="buttons.html" type="text/ng-template">
    <ion-view view-title="What's new in your network">
      <ion-content class="padding">
      
		<div class="item item-divider item-dark card-bk2">HBR: How to Live with Risks</div>    

			<div class="item item-text-wrap">
				Following a crisis, regulators and managers naturally take steps to prevent a recurrence. In 2002, after Enron and WorldCom succumbed to massive accounting fraud, U.S. legislators passed the Sarbanes-Oxley Act, which gave directors and executives new oversight responsibilities. In the wake of the 2008 financial crisis many large banks changed their business models, and other companies implemented systems to better manage credit risks or eliminate overreliance on mathematical models.
			</div>        
		<div class="item item-divider item-dark card-bk2">HBR: Best Way to Hire</div>    

			<div class="item item-text-wrap">
				A study by CEB found that 40% of internal moves involving high-potential employees end in failure. And these are presumably the employees whom the organizations should have the most detailed information about.
			</div>   
		<div class="item item-divider item-dark card-bk2">Moody's upgrades CEB Inc.'s CFR to Ba2</div>    

			<div class="item item-text-wrap">
				New York, May 29, 2015 -- Moody's Investors Service upgraded CEB Inc.'s ("CEB") Corporate Family Rating (CFR) to Ba2, from Ba3, Probability of Default rating to Ba3-PD, from B1-PD, and the rating for its senior secured credit facilities to Ba2, from Ba3. Moody's also affirmed CEB's SGL-1 speculative grade liquidity rating. The ratings have a stable outlook.
			</div> 
		<div class="item item-divider item-dark card-bk2">HBR: Why Self Image Matters in B2B Sales</div>    

			<div class="item item-text-wrap">
				B2C marketers have long known that the key to a customers’ hearts and minds is to make the connection between the brand and customers’ sense of self. Powerful brands (think Apple and Nike) reinforce customers’ positive self-image. B2B marketers, on the other hand, have shied away from the idea, instead approaching selling as a rational, numbers-driven process where the best value proposition wins. Consequently, until recently they’ve paid little attention to the psychological needs of individual stakeholders in a purchasing organization. But that’s changing as suppliers have come to appreciate that companies don’t buy things, people do.
				<br /><br />Our research shows that understanding the personal motivations – particularly around identity — of key people in a buyer organization are every bit as important to a sale as convincing them of the superiority of your solution.
			</div> 
			<!-- <p>
          <a class="button icon icon-left button-assertive" ng-click="showPopup()">Popup</a>
          <a class="button icon icon-left button-energized" ng-click="showActionsheet()">Action Sheet</a>
          <a class="button icon icon-left button-balanced" ng-click="modal.show()">Modal</a>
        </p> -->

		
      </ion-content>
    </ion-view>
  </script>

  <script id="item.html" type="text/ng-template">
    <ion-view title="FINANCE">
      <ion-content class="padding">
		<div class="card">
        <p>Finance</p>
		
		<ion-item>
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/GHwAPI5vhRs" frameborder="0" allowfullscreen></iframe>
			</div>
        </ion-item>
<!-- 		<iframe src="http://cdn.sublimevideo.net/e/gg7odx5u/exbd-FIN-360-FinanceTalentVideo.html" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div> -->

      </ion-content>
    </ion-view>
  </script>

  <script id="list.html" type="text/ng-template">
    <ion-view view-title="My Insights">
      <ion-content class="padding">
        <ion-list show-delete="data.showDelete" on-delete="onItemDelete(item)" option-buttons="itemButtons">

        <div class="list">
          <div class="item item-divider card-bk2">
            Finance
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-cash"></i>
            87% of CFOs are unhappy with the talent mix of their teams. Learn why.
          </a>
          <div class="item item-divider card-bk2">
            Financial Services
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-ios-pulse-strong"></i>
            Generate the next level of breakthrough performance in the financial services industry.
          </a>
          <div class="item item-divider card-bk2">
            Government
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-ios-people"></i>
            The Future of Government IT: Establishing IT as a Broker, Not a Builder.
          </a>          
        <div class="item item-divider card-bk2">
            Human Resources
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon icon ion-happy"></i>
            Employees are 2X more likely to stay with their organization compared to five years ago. Access Q2 workforce trends.
          </a>
          <div class="item item-divider card-bk2">
            Information Technology
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-wand"></i>
            5 Principles of Adaptive IT Organizations Must Adopt to Meet Growing Business Demand
          </a>
          <div class="item item-divider card-bk2">
            Innovation & Strategy
          </div>  
          
          <a class="item item-icon-left item-text-wrap" href="#/menu/tab/item">
            <i class="icon ion-paintbucket"></i>
            Companies whose R&D workforces have high innovation potential see 75% greater new product sales than other companies.
          </a>
          <!-- <div class="item item-divider">
            Angularjs list
          </div>
               
          <ion-item ng-repeat="item in items" class="item item-icon-right" href="#/menu/tab/item">
            Item {{ item.id }}
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>  

          <div class="item item-divider">
            Avatar list item
          </div>  

          <a class="item item-avatar" href="#/menu/tab/item">
            <img src="http://ionicframework.com/img/docs/blue-album.jpg">
            <h2>Title</h2>
            <p>Some detailed text</p>
          </a>

          <div class="item item-divider">
            Thumbnail list item
          </div>  
          <a class="item item-thumbnail-left" href="#/menu/tab/item">
            <img src="http://ionicframework.com/img/docs/blue-album.jpg">
            <h2>Title</h2>
            <p>Some detailed text</p>
          </a> -->

        </div>         
        </ion-list>
	  </ion-content>
    </ion-view>
  </script>

  <script id="form.html" type="text/ng-template">
    <ion-view view-title="Form Elements">
      <ion-content class="padding">
        
        <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" id="search-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        </div>
        
        <div class="list">
          <div class="item item-divider">
            Other form elements
          </div>
        
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Radio Item #1
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Radio Item #2
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          
          <label class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Checkbox
          </label> 
          
          <li class="item item-toggle">
             Toggle
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        
          <div class="item range range-positive">
            <i class="icon ion-ios7-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="33">
            <i class="icon ion-ios7-sunny"></i>
          </div>
        
          <div class="item item-input item-select">
            <div class="input-label">
              Select
            </div>
            <select>
              <option>Option #1</option>
              <option selected>Option #2</option>
              <option>Option #3</option>
            </select>
          </div>
          
        </div>
      </ion-content>
    </ion-view>
  </script>  

  <script id="login.html" type="text/ng-template">
    <ion-view view-title="Enter your credentials">
      <ion-content class="padding card-bk1">

		<div class="card">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="text" name="uName" id="uName" tabindex="1" placeholder="s@s.com" ng-model="user.uName">
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">Password</span>
				<input type="password" name="password" id="password" tabindex="2" placeholder="password" ng-model="user.password">
			</label>
		</div>
		<button class="button button-block button button-positive" ng-if="user.uName != '' || user.password != '' " ng-click="login('s@s.com','1234')">
			Login
		</button>

      </ion-content>
    </ion-view>
  </script>     

  <script id="slidebox.html" type="text/ng-template">
    <ion-view view-title="My Events">
      <ion-content>
        <ion-slide-box>
          <ion-slide>
		  <div class="card">
            <div class="box">
				<div class="item item-divider item-text-wrap">
          
                <h2 class="card-bk2"> Workshop: Accelerating Commercial Contracting</h2> 
				<h4>Executive Retreat<br />22 Jul 2015 (Chicago, IL)</h4>

                </div>
				<div class="item item-divider item-text-wrap cText">
				<p>Legal departments spend too much time managing low-value contracts, crowding out higher-value work. Learn to:
				<ul>
					<li>Allocate resources to the riskiest, highest-value contracts;</li>
					<li>Increase the efficiency of contracting processes to accelerate growth; and</li>
					<li>Minimize risk by organizing contract records and tracking contract milestones.</li>
				</ul>
				<ul>Meeting Timings:
					<li>Tuesday, 23 June 2015 | London, UK | 08:30 a.m.—04:30 p.m. (GMT)</li>
					<li>Wednesday, 22 July 2015 | Chicago, IL | 08:00 a.m.—04:00 p.m. (CST)</li>
				</ul>
				<img src="img/chicago.png" width="98%"></img>
				</div>
				</p>
				
				<!-- <div id="map" data-tap-disabled="true"></div> -->
				</div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="card">
			<div class="box">
				<div class="item item-divider card-bk2">
          
                <h1>Webinar #2</h1>
                </div>
				<p>Content goes here</p>
            </div>
			</div>
          </ion-slide>
          <ion-slide>
		  <div class="card">
            <div class="box">
				<div class="item item-divider card-bk2">
          
                <h1>Meeting #3</h1>
                </div>
                <p>Content goes here</p>
            </div>
			</div>
          </ion-slide>
        </ion-slide-box>
       </ion-content>    
    </ion-view>
  </script> 
    
  <script id="about.html" type="text/ng-template">
    <ion-view view-title="About Us">
    
	  
      <ion-content class="padding">
	<div class="card">
	    
    <div class="item item-divider item-dark card-bk2">Overview</div>
		
          <div class="item item-text-wrap">
            CEB is a best practice insight and technology company. We have a unique view into what matters—and what works—when driving corporate performance. With more than 30 years of experience working with top companies to share, analyze, and apply proven practices, we deliver innovative solutions that help you unlock your full potential. <br /> <br />

Every year we equip over 20,000 senior leaders from more than 10,000 organizations across 110 countries with the intelligence they need to respond quickly to evolving business conditions. In doing so we help them more effectively manage their talent, customers and operations to exceed business objectives.
Every year we equip over 20,000 senior leaders from more than 10,000 organizations across 110 countries with the intelligence they need to respond quickly to evolving business conditions. In doing so we help them more effectively manage their talent, customers and operations to exceed business objectives.
            
          </div>    
        
		
		<div class="item item-divider item-dark card-bk1">Corporate Headquarters</div>
			<div class="item item-text-wrap">
				1919 North Lynn Street<br />
				Arlington,VA 22209<br />
				United States<br />
				Tel: +1-571-303-3000<br />
				Fax: +1-571-303-3100<br />

			</div>
		</div>
	  </ion-content>
    </ion-view>
  </script>    

  <script id="modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">We are all ears!</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
      </ion-header-bar>
      
      <ion-content class="padding card-listen">
		<div class="card">
		<div class="item item-divider item-dark item-text-wrap card-bk1">Submit your query & someone will get back to you in the next couple of hours.</div>
			<div class="item">
<!--           <label class="item item-input">
            <span class="input-label">To</span>
            <input type="text">
          </label>
 -->
            
            <textarea rows="8" cols="50" placeholder="Your question"></textarea>
    	  </div>
		</div>
        <button class="button icon icon-right ion-arrow-right-c button-positive button-block">Send</button>
		<div class="card">
		<div class="item item-divider item-dark item-text-wrap card-bk1">Want to talk to your Account Manager?</div>
			<div class="item">

				<button class="button button-icon ion-ios-telephone" ng-click="showPopup1()"> Click to connect!</button>


				
			</div>
		</div>
  
		
		
      </ion-content>
    </div>
  </script>  
  
     
</body>
</html>